[submodule "distances"]
	path = distances
	url = https://github.com/URI-ABD/distances.git
[submodule "SyMaGen"]
	path = SyMaGen
	url = https://github.com/morganprior/SyMaGen.git
[submodule "py-clam"]
	path = py-clam
	url = https://github.com/URI-ABD/py-clam
