[package]
name = "uri-abd-clam"
version = "0.4.0"
authors = ["Najib Ishaq <nishaq@zoho.com>", "Tom Howard <info@tomhoward.codes>", "Noah Daniels <noah_daniels@uri.edu>"]
edition = "2018"

# Publishing lock.
# When you're ready to start publishing, set publish to true
# and update the release github action.
publish = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitvec = "0.22.3"
dashmap = "4.0.2"
easy-cast = "0.4.4"
eval-metrics = "0.1.1"
log = "0.4.14"
ndarray = { version = "0.15.3", features = ["rayon"] }
ndarray-npy = "0.8.0"
num-traits = "0.2.14"
ordered-float = "2.7.0"
rand = "0.8.4"
rayon = "1.5.1"
serde_json = "1.0.67"
simplelog = "0.10.0"
statrs = "0.15.0"
structopt = "0.3.23"
sysinfo = "0.20.2"

[dev-dependencies]
criterion =  { version = "0.3.5", features = ["html_reports"] }
float-cmp = "0.9.0"

[[bench]]
name = "cakes"
harness = false
