[workspace]
members = [
    "crates/abd-clam",
    "crates/distances",
    "crates/symagen",
    "crates/results/chaoda",
    "crates/results/cakes",
    "crates/results/rite-solutions",
    "crates/results/msa",
    "pypi/distances",
    "pypi/results/cakes",
]
resolver = "2"

[workspace.dependencies]
abd-clam = { version = "0.31.0", path = "crates/abd-clam" }
distances = { version = "1.8.0", path = "crates/distances" }
symagen = { version = "0.5.0", path = "crates/symagen" }

rayon = "1.8"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3"
ftlog = "0.2.0"
libm = "0.2"
ndarray = { version = "0.15.6", features = ["rayon", "approx"] }
ndarray-npy = "0.8.0"
ordered-float = "4.2"
flate2 = { version = "1.0", features = ["zlib"] }

# Python wrapper dependencies
numpy = "0.20.0"
pyo3 = { version = "0.20", features = ["extension-module", "abi3-py39"] }
pyo3-ffi = { version = "0.20", features = ["extension-module", "abi3-py39"] }

# For reading fasta files.
bio = "2.0"

[profile.test]
opt-level = 3
debug = true
overflow-checks = true

[profile.release]
strip = true
lto = true
codegen-units = 1

[profile.bench]
debug = true
overflow-checks = true
