[package]
name = "clam"
version = "0.9.0"
authors = [
    "Najib Ishaq <najib_ishaq@zoho.com>",
    "Tom Howard <info@tomhoward.codes>",
    "Noah Daniels <noah_daniels@uri.edu>",
    "Morgan Prior <morgan_prior@uri.edu>",
    "Isaac Chen <ijchen@uri.edu>",
    "Oliver McLaughlin <olwmcjp@gmail.com>",
]
edition = "2021"
rust-version = "1.68"

# Publishing lock.
# When you're ready to start publishing, set publish to true
# and update the release github action.
publish = false

[profile.test]
debug = 1
opt-level = 3

[profile.release]
strip = true
lto = true
codegen-units = 1
overflow-checks = true

[profile.bench]
debug = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-traits = "0.2.15"
libm = "0.2.7"
rand_chacha = "0.3.1"
rand = "0.8.5"
bitvec = "1.0.1"
priority-queue = "1.3.1"
rayon = "1.7.0"
smartcore = "0.2.1"
automl = "0.2.7"

[dev-dependencies]
float-cmp = "0.9.0"
ndarray-npy = "0.8.1"
log = "0.4.18"
env_logger = "0.10.0"
rmp-serde = "1.1.1"
num-format = "0.4.4"
kdam = "0.3.0"
criterion = { version = "0.5.1", features = ["html_reports"] }
serde = { version = "1.0.164", features = ["derive"] }
serde_json = { version = "1.0.96", features = ["alloc"] }
ndarray = { version = "0.15.6", features = ["rayon"] }
arrow = { version = "41.0.0", features = ["ipc"] }

[[example]]
name = "reports"
path = "examples/reports.rs"

[[example]]
name = "knn-search"
path = "examples/knn-search.rs"

# [[bench]]
# name = "partition"
# harness = false

[[bench]]
name = "rnn-search"
harness = false

[[bench]]
name = "knn-search"
harness = false
