[package]
name = "clam"
version = "0.3.11"
authors = ["Tom Howard <info@tomhoward.codes>", "Najib Ishaq <nishaq@my.uri.edu>", "Noah Daniels <noah_daniels@uri.edu>"]
edition = "2018"

# Publishing lock.
# When you're ready to start publishing, set publish to true
# and update the release github action.
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "^0.8"
rayon = "^1.5"
ndarray = { version = "^0.15", features = ["rayon"] }
ndarray-npy = "^0.8"
num-traits = "^0.2"

[dev-dependencies]
float-cmp = "^0.8"
criterion =  { version = "^0.3", features = ["html_reports"] }

[[bench]]
name = "cakes"
harness = false
