[tool.poetry]
name = "abd-clam"
version = "0.10.0-dev0"
description = "Clustered Learning of Approximate Manifolds"
authors = [
    "Najib Ishaq <najib_ishaq@zoho.com>",
    "Tom Howard <info@tomhoward.codes>",
    "Noah Daniels <noah_daniels@uri.edu>",
    "Morgan Prior <morgan_prior@uri.edu>",
    "Isaac Chen <ijchen@uri.edu>",
    "Oliver McLaughlin <olwmcjp@gmail.com>",
]
license = "MIT"
readme = "README.md"
packages = [{include = "abd_clam", from = "python"}]

[tool.poetry.dependencies]
python = "~3.9.0"
numpy = "1.22.4"
scipy = "1.8.1"
scikit-learn = "1.1.1"

[tool.poetry.group.dev.dependencies]
# h5py = "3.7.0"
# datatable = "1.0.0"
# dtaidistance = "2.3.6"
# pandas = "1.4.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
