[tool.poetry]
name = "pyclam"
version = "0.3.2"
description = "Clustered Learning of Approximate Manifolds"
authors = ["Tom Howard <info@tomhoward.codes>", "Najib Ishaq <najib_ishaq@zoho.com>", "Noah Daniels <noah_daniels@uri.edu>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
scipy = "^1.4.1"
numpy = "^1.18.1"

[tool.poetry.dev-dependencies]
sphinx = "^3.1.0"
toml = "^0.10.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
