target-version = "py311" # Assume Python 3.11

[lint]
select = [
  "F",   # pyflakes
  "E",   # pycodestyle errors
  "W",   # pycodestyle warnings
  "C90", # mccabe
  "I",   # isort
  "N",   # pep8-naming
  "D",   # pydocstyle
  "UP",  # pyupgrade
  "ANN", # flake8-annotations
  "S",   # flake8-bandit
  "BLE", # flake8-blind-except
  "B",   # flake8-bugbear
  "A",   # flake8-builtins
  "COM", # flake8-commas
  "C4",  # flake8-comprehensions
  "EM",  # flake8-errmsg
  "INP", # flake8-no-pep420
  "T20", # flake8-print
  "PYI", # flake8-pyi, type-hinting stub files
  "PT",  # flake8-pytest-style
  "RSE", # flake8-raise
  "RET", # flake8-return
  "SIM", # flake8-simplify
  "ARG", # flake8-unused-arguments
  "ERA", # flake8-eradicate
  "PTH", # flake8-use-pathlib
  "PL",  # pylint
  "FLY", # flynt
  "NPY", # NumPy-specific rules
  "RUF", # Ruff-specific rules
]
ignore = [
  "ANN101",  # Missing type annotation for self in method
  "ANN102",  # Missing type annotation for cls in classmethod
  "PLR2004", # Use of magic value in comparison
]
unfixable = ["B"] # Avoid trying to fix flake8-bugbear violations.

[lint.mccabe]
# Unlike Flake8, default to a complexity level of 10
max-complexity = 10

[lint.isort]
force-single-line = true

[lint.pydocstyle]
convention = "google"

[lint.per-file-ignores]
"__init__.py" = [
  "F401", # Unused import.
]
"python/examples/**/*.py" = [
  "S101", # Use of assert detected.
]
"python/tests/**/*.py" = [
  "D103", # Missing docstring in public function.
  "S101", # Use of assert detected.
]
