name: Tests

on:
  workflow_call:
  push:
    branches-ignore:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
      - dev

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v3
      - name: Setup | Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: |
            clippy
            rustfmt
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - uses: pre-commit/action@v3.0.0

  rust:
    name: Rust | Tests
    needs: pre-commit
    strategy:
      fail-fast: false
      matrix:
        # TODO: Add macos-latest after figuring cc linker issue for symagen in github actions
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: earthly/actions-setup@v1
        with:
          version: v0.7.8
      - name: Tests
        run: |
          earthly +test
