name: Build | MacOS

on: [workflow_call]

permissions:
  contents: read

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml

  tests:
    needs: pre-commit
    uses: ./.github/workflows/tests/macos.yml

  build:
    needs: tests
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v3
      - name: Fetch workspace members
        run: git submodule update --init
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist
